body {
    margin: auto;
    text-align: center;
    width: 70%;
    list-style: inside;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
}

.title {
    background-color: beige;
    border: 1px solid black;
    font-size: 1.5rem;
}

.subtitle {
    background-color: rgb(167, 228, 208);
    border: 1px solid black;
    margin-top: 1.5rem;
}